.navbar__container {
  display: flex;
  padding: 0;
  margin-right: 104px;
  justify-items: right;
  align-items: center;
  font-family: "Roboto Medium", sans-serif, "Inter";
}

.navbar__desktop {
  display: flex;
  align-items: center;
}

.navbar__hamburger-icon {
  display: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar--saved-news .navlinks__link {
  color: black;
}

.navbar--saved-news .userauth__sign-out {
  color: black;
  border-color: black;
}

.navlinks__link--active::after {
  content: "";
  display: block;
  height: 3px;
  width: 150%;
  background-color: black;
  position: absolute;
  bottom: -31px;
  left: -25px;
}

.mobile-menu {
  display: none;
  width: 100%; /* Ensure the mobile menu takes full width */
}

.mobile-menu--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the mobile menu takes full width */
  max-width: 100%; /* Prevent exceeding the viewport width */
  height: 230px;
  background-color: rgba(26, 27, 34, 1);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

@media screen and (max-width: 768px) {
  .navbar__hamburger-icon {
    display: none;
  }

  .navbar__desktop {
    margin-right: 40px;
  }

  .navbar__container {
    margin-right: 0;
  }
}

@media screen and (max-width: 566px) {
  .navbar__desktop {
    display: none;
  }

  .navbar__hamburger-icon {
    display: flex; /* Show mobile menu on small screens */
    margin-right: 16px;
  }
}
