.mobile-menu {
  display: none;
}

.mobile-menu--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 320px;
  height: 230px;
  background-color: rgba(26, 27, 34, 1);
  padding: 0;
}

.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin: 0 16px;
}

.mobile-menu__logo {
  width: 117px;
  height: 24px;
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.mobile-menu__close-icon {
  width: 24px;
  height: 24px;
}
