.Page {
  background-color: rgb(255, 255, 255);
}
.page__content {
  max-width: 1440px;
  background-image: url("../../Assets/BackGroundImage.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 576px;
  z-index: 1;
  margin: 0 auto;
  max-width: 1440px;
}
