.about {
  /* position/size */
  display: block;
  height: 624px;
  background-color: rgb(255, 255, 255);
}

.about__container {
  /* position */
  display: flex;
  margin-left: 104px;
}

.about__img {
  /* position/size */
  height: 464px;
  width: 464px;
  margin-top: 100px;
  padding: 0;
  /* border */
  border-radius: 50%;
}

.about__content {
  /* position/size */
  margin-top: 131px;
  margin-left: 56px;
}

.about__title {
  /* font */
  font-family: "Roboto Slab Regular", "Inter", sans-serif;
  font-size: 40px;
  line-height: 46px;
  /* position/size */
  width: 600px;
  margin-bottom: 24px;
  padding: 0;
}

.about__description {
  /* fonts */
  font-family: "Roboto Regular", "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  /* position/size */
  width: 600px;
}
