.search__form {
  max-width: 1440px;
  font-family: "Roboto Medium", "Inter Medium", sans-serif;
  display: inline-block;
  position: relative;
  margin-bottom: 80px;
}

.search__input {
  width: 608px;
  height: 64px;
  border-radius: 50px;
  border: none;
  z-index: 2;
  margin-left: 416px;
  /* font */
  font-family: "Roboto Regular", sans-serif, serif;
  color: black;
}

.search__input:focus {
  outline: none;
}

.search__button {
  /* position */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  /* dimensions */
  width: 170px;
  height: 66px;
  /* border */
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 113, 229);
  cursor: pointer;
}

.search__button:hover {
  background-color: rgba(52, 126, 255, 1);
}

.search__button:active {
  background-color: rgba(42, 101, 204, 1);
}

@media screen and (max-width: 768px) {
  .search__form {
    margin-bottom: 48px;
  }

  .search__input {
    width: 448px;
    height: 54px;
    margin-left: 160px;
  }

  .search__button {
    width: 160px;
    height: 56px;
  }
}
