.sign-up__form {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  font-family: "Inter Regular", sans-serif, serif;
}

.popup__label-type-email {
  margin-bottom: 31px;
  padding: 0;
}

.popup__label-type-password {
  margin-bottom: 31px;
  padding: 0;
}

.popup__input {
  /* fonts */
  font-size: 12px;
  line-height: 14.52px;
  font-family: "Inter Regular", sans-serif, serif;
  margin: 0;
  padding: 0;
}
.input__name {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 12px;
  color: rgba(47, 113, 229, 1);
}

.popup__label-type-email-username {
  margin: 0;
  padding: 0;
}

.popup__input_username {
  margin-bottom: 39px;
  padding: 0;
}

.signin__btn {
  display: block;
  position: relative;
  bottom: -100px;
  margin-top: 39px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.error-message {
  position: absolute;
  display: flex;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (max-width: 320px) {
  .sign-up__form {
    margin-left: 16px;
  }
}
