.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 80px;
  font-family: "Roboto Slab Medium", sans-serif, serif;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.header__home-link {
  margin-right: auto;
}

.header__logo {
  display: block;
  margin-left: 104px;
  width: 200px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
  }

  .header__logo {
    height: 24px;
    margin: 23px auto 18px 40px;
  }

  .header--saved-news .header__container {
    justify-content: initial;
  }
}

@media screen and (max-width: 564px) {
  .header__logo {
    width: 117px;
    height: 24px;
    margin: 0;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 117px;
    height: 24px;
    margin: 0;
    margin-right: 147px;
    margin-left: 16px;
  }
  .header {
    width: 320px;
    height: 56px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    margin: 0 auto;
  }
}
