.header {
  /* position/size */
  margin: 0;
  padding: 0;
  height: 80px;
  /* border */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* layer */
  z-index: 1;

  /* header Logo  */
  font-family: "Roboto Slab Medium", sans-serif;
}

.header__container {
  /* position/size */
  display: flex;
  justify-content: space-between;
}

.header__logo {
  /* position/size */
  width: 200px;
  height: 24px;
  margin: 30px 0 26px 104px;
}
