.navbar {
  display: flex;
}

.navlinks__container {
  /* position  */
  display: flex;
  padding: 0;
  align-items: center;
  margin-right: 104px;
  /* text */
  font-family: "Roboto Medium", sans-serif, "Inter";
}

.navlink__home {
  /* position */
  margin-bottom: 0;
  padding: 0;

  /* background/color */
  background: transparent;
  color: rgb(255, 255, 255);

  /* border */
  border: none;

  /* cursor */
  cursor: pointer;
}

.navlink__saved-news {
  /* position */
  margin-left: 76px;
  padding: 0;

  /* background/color */
  background: transparent;
  color: rgb(255, 255, 255);

  /* border */
  border: none;

  /* cursor */
  cursor: pointer;
}

.navlink__sign-in {
  /* position/size */
  height: 48px;
  width: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
  /* background/color */
  background: transparent;
  color: rgb(255, 255, 255);
  /* border */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  /* text */
  text-decoration: none;

  /* cursor */
  cursor: pointer;
}

.navlinks__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.navlink--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -32px;
  left: 0;
}

.navlink__sign-out {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  margin-left: 64px;
  width: 112px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);

  background-color: transparent;
  cursor: pointer;
}

.navbar__saved-news {
  display: flex;
  /* max-width: 1440px; */
}

.navbar__saved-news .navlink {
  color: black;
}

.navbar__saved-news .navlink__sign-out {
  color: black;
  border-color: black;
}

.navbar__saved-news .navlink--active::after {
  background-color: black;
  width: 176px;
  position: absolute;
  left: -40px;
}
