.footer {
  height: 80px;
  max-width: 1440px;
  width: 100%;
  font-family: "Roboto Regular", "Inter", sans-serif;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: block;
  color: rgba(182, 188, 191, 1);
  font-size: 16px;
  margin-right: auto;
  margin-left: 104px;
}

.footer__nav {
  display: flex;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__links--social {
  display: flex;
}

.footer__links-item {
  margin-right: 40px;
}

.footer__link {
  color: black;
  text-decoration: none;
}

.footer__link-social {
  margin-right: 24px;
}

.footer__link-social img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .about__description {
    height: 168px;
    width: 424px;
  }

  .footer__info {
    margin-left: 40px;
  }

  .footer__links-item {
    margin-right: 24px;
  }
}

@media screen and (max-width: 583px) {
  .footer {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 325px) {
  .footer__links {
    flex-direction: column;
  }

  .footer__links--social {
    flex-direction: row;
  }

  .footer__links {
    width: 320px;
    height: 176px;
  }

  .footer__info {
    max-width: 288px;
    margin-left: 0;
    margin-right: 0;
  }
}
