.news__cards-container {
  background-color: rgba(245, 246, 247, 1);
}

.news__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 16px;
  padding-top: 80px;
}

.search__container-title {
  font-family: "Roboto Slab Regular", sans-serif, "Arial";
  font-size: 40px;
  margin: 0;
  line-height: 46px;
  padding-top: 80px;
  padding-left: 104px;
}

.button__container {
  padding: 80px 0;
}

.button__show-more {
  font-family: "Roboto Medium", sans-serif, "Arial";
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 288px;
  height: 64px;
  cursor: pointer;
}

.button__show-more:hover {
  background-color: rgba(232, 232, 232, 1);
}

@media screen and (max-width: 768px) {
  .news__card-list {
    padding-top: 32px;
    gap: 8px;
  }

  .search__container-title {
    font-size: 30px;
  }
  .button__container {
    padding: 32px 0 40px;
  }
}
